* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font;
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 40, 40, 0);
    color: #ebdbb2;
    margin: 0px;
    padding: 0px;
}

tooltip {
    background: #282828;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
}

#workspaces button {
    color: #665c54;
    border: none;
    border-radius: 10px;
    transition-duration: .3s;
    background: #282828;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    color: #ebdbb2;
    border: none;
    border-radius: 10px;
	  background: #282828;
}

#workspaces button.focused {
    color: #ebdbb2;
    background: #282828;
    border-radius: 10px;
}

#workspaces button.persistent {
    color: #928374; 
    background: #282828;
    border: none;
    border-radius: 10px;
}

#workspaces button.empty {
    color: #504945; 
    background: transparent;
    border: none;
    border-radius: 10px;
}

#workspaces button:hover {
    background: none;
    border-color: transparent;
    color: #d79921;
    border-radius: 10px;
}

#workspaces button.special {
    color: #fabd2f;
    background: #282828;
    border-radius: 10px;
}

#workspaces button.active,
#workspaces button.visible {
    color: #ebdbb2; 
    background: #282828;
    border: none;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #cc241d;
    background: #282828;
    border-radius: 10px;
}

#language,
#custom-updates,
#custom-caffeine,
#custom-waybar-mpris,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#keyboard-state,
#idle_inhibitor,
#custom-power,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#tray {
    background: #282828;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2; 
    margin-right: 8px;
}

#workspaces {
    background: #282828;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
    margin-left: 8px;
    padding-right: 4px;
    padding-left: 0px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#language {
    background: #282828;
    color: #ebdbb2;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
    border-left: 0px;
    border-right: 0px;
    min-width: 24px;
    margin-right: 0px;
}

#keyboard-state {
    background: #282828;
    color: #ebdbb2;
    border-radius: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
    border-left: 0px;
    border-right: 0px;
    margin-left: -8px;
    padding-right: 3px;
    padding-left: 0px;
}

#custom-updates {
    background: #282828;
    color: #ebdbb2;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
}

#window {
    background: #282828;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    background: #282828;
    color: #ebdbb2;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2; 
    border-radius: 10px 0px 0px 10px;
    margin-left: 6px;
    border-right: 0px;
}

#network {
    color: #ebdbb2;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    background: #282828;
    color: #ebdbb2;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    background: #282828;
    color: #ebdbb2;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: -10px;
    margin-right: -8px;
}

#battery {
    color: #ebdbb2;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    background: #282828;
    color: #ebdbb2;
    border-radius: 0px 10px 10px 0px;
    border-width: 3px;
    border-left: 0px;
    border-style: solid;
    border-color: #ebdbb2;
}


#custom-media {
    background: #282828;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2; 
    margin-right: 8px;
}

#idle_inhibitor { 
    background: #282828;
    color: #ebdbb2;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
    border-left: 0px;
    border-right: 0px;
    padding-right: 8px;
    padding-left: 2px;
    min-width: 18px;
}

#custom-power {
    background: #282828;
    color: #ebdbb2;
    border-width: 3px;
    border-style: solid;
    border-color: #ebdbb2;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    margin-left: 0px;
    margin-right: 6px;
    padding-right: 10px;
}



