* {
  border: none;
  font-family: Hack Nerd Font;
  font-weight: 800;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: none;
  margin: 0px;
  padding: 0px;
}

tooltip {
  background: rgba(40, 40, 40, 0.76);
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  color: #ebdbb2;
}

#workspaces button {
  border: none;
  transition-duration: 0.3s;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #928374;
  padding: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

#workspaces button.persistent {
  color: #928374;
}

#workspaces button.empty {
  color: #504945;
}

#workspaces button.special {
  color: #b8bb26;
}

#workspaces button.visible {
  color: #ebdbb2;
}

#workspaces button:hover {
  color: #d79921;
}

#workspaces button.active {
  color: #ebdbb2;
}

#workspaces button.urgent {
  color: #cc241d;
}

#language,
#custom-updates,
#custom-weather,
#window,
#custom-playerctl,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cava,
#keyboard-state,
#idle_inhibitor,
#custom-power {
  background: none;
  padding: 0px 10px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#tray {
  background: rgba(40, 40, 40, 0.76);
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 8px;
  padding-left: 9px;
  padding-top: 2px;
  color: #ebdbb2;
}

#workspaces {
  background: rgba(40, 40, 40, 0.76);
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  margin-left: 4px;
  padding-right: 6px;
  padding-left: 4px;
}

#language {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
  min-width: 24px;
}

#keyboard-state {
  background: none;
  color: #ebdbb2;
  border: none;
  padding-top: 1px;
}

#custom-updates {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-radius: 0px 4px 4px 0px;
  border-width: 2px;
  border-left: 0px;
  border-style: solid;
  border-color: #ebdbb2;
}

#window {
  background: rgba(40, 40, 40, 0.76);
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 4px;
  margin-left: 30px;
  margin-right: 30px;
  color: #ebdbb2;
}

#custom-playerctl {
  background: rgba(40, 40, 40, 0.76);
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-right: 0px;
  border-left: 0px;
  color: #ebdbb2;
}

#cava {
  background: rgba(40, 40, 40, 0.76);
  border-radius: 4px 0px 0px 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-right: 0px;
  margin-left: 4px;
  color: #ebdbb2;
}

#clock {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;
}

#network {
  color: #ebdbb2;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
}

#pulseaudio.microphone {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
  margin-right: 4px;
}

#battery {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;
}

#custom-weather {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-radius: 4px 0px 0px 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-right: 0px;
  margin-left: 4px;
  padding-right: 7px;
  padding-top: 1px;
}

#idle_inhibitor {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  min-width: 18px;
}

#custom-power {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
  margin-left: 0px;
  margin-right: 4px;
  padding-right: 14px;
}
