* {
    border: none;
    font-family: BlexMono Nerd Font;
    font-weight: 700;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: none;
    margin: 0px;
    padding: 0px;
}

tooltip {
    background: rgba(40, 40, 40, 0.92);
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
}

#workspaces button {
    color: #665c54;
    border: none;
    transition-duration: 0.3s;
    background: none;
    box-shadow: inherit;
    text-shadow: inherit;
    padding: 5px;
}

#workspaces button.active {
    color: #ebdbb2;
    border: none;
    border-radius: 4px;
}

#workspaces button.focused {
    color: #ebdbb2;
}

#workspaces button.persistent {
    color: #928374;
}

#workspaces button.empty {
    color: #504945;
}

#workspaces button:hover {
    color: #d79921;
}

#workspaces button.special {
    color: #fabd2f;
}

#workspaces button.visible {
    color: #ebdbb2;
}

#workspaces button.urgent {
    color: #cc241d;
}

#language,
#custom-updates,
#custom-weather,
#window,
#custom-playerctl,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cava,
#keyboard-state,
#idle_inhibitor,
#custom-power {
    background: none;
    padding: 0px 10px;
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 1px;
}

#tray {
    background: rgba(40, 40, 40, 0.92);
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    margin-right: 4px;
    margin-left: 4px;
}

#workspaces {
    background: rgba(40, 40, 40, 0.92);
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    margin-left: 4px;
    padding-right: 4px;
    padding-left: 4px;
}

#language {
    background: rgba(40, 40, 40, 0.92);
    color: #ebdbb2;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
    min-width: 24px;
}

#keyboard-state {
    background: none;
    color: #ebdbb2;
    border: none;
}

#custom-updates {
    background: rgba(40, 40, 40, 0.92);
    color: #ebdbb2;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
}

#window {
    background: rgba(40, 40, 40, 0.92);
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-radius: 4px;
    margin-left: 30px;
    margin-right: 30px;
}

#custom-playerctl {
    background: rgba(40, 40, 40, 0.92);
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-right: 0px;
    border-left: 0px;
}

#cava {
    background: rgba(40, 40, 40, 0.92);
    border-radius: 4px 0px 0px 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-right: 0px;
    margin-left: 4px;
}

#clock {
    background: rgba(40, 40, 40, 0.92);
    color: #ebdbb2;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
}

#network {
    color: #ebdbb2;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    background: rgba(40, 40, 40, 0.92);
    color: #ebdbb2;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
}

#pulseaudio.microphone {
    background: rgba(40, 40, 40, 0.92);
    color: #ebdbb2;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-radius: 0px 4px 4px 0px;
    border-left: 0px;
    margin-right: 4px;
}

#battery {
    color: #ebdbb2;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    background: rgba(40, 40, 40, 0.92);
    color: #ebdbb2;
    border-radius: 4px 0px 0px 4px;
    border-width: 2px;
    border-right: 0px;
    border-style: solid;
    border-color: #ebdbb2;
    margin-left: 3px;
}

#idle_inhibitor {
    background: rgba(40, 40, 40, 0.92);
    color: #ebdbb2;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-left: 0px;
    border-radius: 0px 4px 4px 0px;
    min-width: 18px;
}

#custom-power {
    background: rgba(40, 40, 40, 0.92);
    color: #ebdbb2;
    border-width: 2px;
    border-style: solid;
    border-color: #ebdbb2;
    border-radius: 0px 4px 4px 0px;
    border-left: 0px;
    margin-left: 0px;
    margin-right: 3px;
    padding-right: 16px;
}
