window {
    font-family: hack nerd font;
    font-size: 14pt;
    color: #ebdbb2; /* text */
    background-color: rgba(40, 40, 40, 0.85);
}

button {
	background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-style: solid;
	border-width: 4px;
    border-color: #ebdbb2;
	background-color: rgba(40, 40, 40, 1);
    margin: 10px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.1);
}

button:focus {
    background-color: #ebdbb2;
    color: #282828;
}

#lock {
    background-image: image(url("./lock.png"));
}
#lock:focus {
    background-image: image(url("./lock-hover.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

#suspend {
    background-image: image(url("./sleep.png"));
}
#suspend:focus {
    background-image: image(url("./sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}
#shutdown:focus {
    background-image: image(url("./power-hover.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
#reboot:focus {
    background-image: image(url("./restart-hover.png"));
}
