window {
    margin: 0px;
    border: 4px none #ebdbb2;
    border-width: 4px;
    background-color: #282828;
    border-radius: 10px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    border-width: 4px;
    color: #ebdbb2;
    font-family: Hack Nerd Font;
    font-size: 14px;
    font-weight: bold;
    background-color: #282828;
    /* background: ; */
   	outline: none;
    border-radius: 10px;
    margin: 10px 13px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid #282828;
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 10px solid #282828;
    color: #ebdbb2;
    font-weight: bold;
    background-color: #282828;
    /* background-color: red; */
    border-radius: 10px;
}

#outer-box {
    margin: 0px;
    border: 3px solid #ebdbb2;
    border-radius: 10px;
    background-color: #282828;
}

#scroll {
    background-color: #282828;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

#img{
    margin-right: 10px;
}

#img:selected {
    background-color: #ebdbb2;
    margin-right: 10px;
    border-radius: 10px;
}

#text:selected {
    color: #ebdbb2;
    margin: 0px 0px;
    border: none;
    border-color: #ebdbb2;
    border-width: 3px;
    border-radius: 10px;
    background-color: transparent;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 10px;
    background-color: #ebdbb2;
}
